*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

@keyframes opacityFadeIn {
  from {
    opacity: 0;
    translate: 0 -250px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.headline .img-hero, .headline .text {
  animation-name: opacityFadeIn;
  animation-duration: 1.5s;
}

@keyframes tranY {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -5px;
  }
}
body {
  background-color: #f4f4f4;
}

.navbar {
  background-color: #640fc5;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  column-gap: 1.5rem;
}

.navbar ul li {
  font-weight: 600;
  color: #f4f4f4;
  cursor: pointer;
}
.navbar ul li:hover {
  color: black;
}

.headline {
  border-radius: 20px;
  margin-top: 2rem;
  margin-inline: 1rem;
  padding: 2rem 1rem;
  background-color: #640fc5;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 1.5rem;
  color: #f4f4f4;
}

.headline .text {
  width: 50%;
  padding-left: 1.5rem;
}

.headline .img-hero {
  width: 50%;
  padding-right: 1.5rem;
  border-radius: 20px;
}

.headline .img-hero img {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
  border-radious: 20px;
  box-shadow: 0px 8px 10px 3px rgba(12, 2, 24, 0.7);
}

.headline h1 {
  font-size: 3.5rem;
}

.headline .btns button:nth-child(1) {
  margin-top: 2rem;
  color: #f4f4f4;
  font-weight: 600;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  background-color: #0e6cff;
  border-radious: 20px;
  box-shadow: 0px 8px 10px 3px rgba(12, 2, 24, 0.7);
}
.headline .btns button:nth-child(1):hover {
  color: black;
  animation-name: tranY;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.headline .btns button:nth-child(2) {
  margin-top: 2rem;
  color: #f4f4f4;
  font-weight: 600;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  background-color: #ff8700;
  border-radious: 20px;
  box-shadow: 0px 8px 10px 3px rgba(12, 2, 24, 0.7);
}
.headline .btns button:nth-child(2):hover {
  color: black;
  animation-name: tranY;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.headline .btns button:nth-child(3) {
  margin-top: 2rem;
  color: #f4f4f4;
  font-weight: 600;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  background-color: #4caf50;
  border-radious: 20px;
  box-shadow: 0px 8px 10px 3px rgba(12, 2, 24, 0.7);
}
.headline .btns button:nth-child(3):hover {
  color: black;
  animation-name: tranY;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.low-img {
  margin-top: 2rem;
  display: flex;
}

.low-img div {
  width: 25%;
  border-radius: 15px;
  padding-inline: 1rem;
}

.low-img img {
  width: 100%;
  border-radius: 15px;
  border-radious: 20px;
  box-shadow: 0px 8px 10px 3px rgba(12, 2, 24, 0.7);
}

/*# sourceMappingURL=style.css.map */
