@keyframes opacityFadeIn {
  from {
    opacity: 0;
    translate: 0 -250px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
%fade-in {
  animation-name: opacityFadeIn;
  animation-duration: 1.5s;
}
