@keyframes tranY {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -5px;
  }
}

@mixin btn {
  margin-top: 2rem;
  color: $light-grey;
  font-weight: 600;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: $font-md;
  margin-right: 1.5rem;
  cursor: pointer;
  &:hover {
    color: black;
    animation-name: tranY;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@mixin floating {
  border-radious: 20px;
  box-shadow: 0px 8px 10px 3px rgba(12, 2, 24, 0.7);
}
